.skills__cards {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  margin-top: 1.5rem;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .skills__cards {
    flex-wrap: wrap;
  }
}