.contato__assunto {
  border: none;
  border-radius: 10px;
  caret-color: var(--cinza-azulado);
  color: var(--cinza-taupe);
  padding: .5rem;
  outline: none;
  width: 95%;
}

.contato__assunto.invalido {
  border-bottom: 2px solid #a70f0f;
}

.contato__assunto.valido {
  border-bottom: 2px solid #0c7912;
}

.contato__assunto-span {
  color: #a70f0f;
  margin-right: .2rem;
  opacity: 0;
  padding: 0 .2rem;
  position: absolute;
  right: 0;
  top: 100px;
  transition: opacity .5s;
}

@media screen and (max-width: 425px) {
  .contato__assunto-span {
    top: 96px;
  }
}