.experiencia__link {
  align-items: center;
  background: var(--cinza-azulado-claro);
  border-radius: 100%;
  color: var(--cinza-azulado);
  display: flex;
  height: 2rem;
  justify-content: center;
  padding: .5rem;
  transition: all .3s;
  width: 2rem;
}

.experiencia__link:hover {
  background: var(--cinza-azulado);
  color: var(--cinza-azulado-claro);
}

@media screen and (max-width: 425px) {
  .experiencia__link {
    height: 1rem;
    width: 1rem;
  }
}